@import "tailwindcss";
@import "./layout.css";

@font-face {
  font-family: "GetSchwifty";
  src: url("../assets/fonts/get_schwifty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-schwifty: "GetSchwifty", "cursive";

  @keyframes portal-flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 5px #22c55e, 0 0 10px #22c55e, 0 0 20px #22c55e,
        0 0 40px #16a34a, 0 0 80px #16a34a;
    }
    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }

  --animate-portal-flicker: portal-flicker 3.5s infinite;
}

body {
  font-family: var(--font-poppins);
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 680px;
  margin-inline: auto;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.glitch::before {
  animation: glitchTop 1.5s infinite linear alternate-reverse;
  color: #ff00ff;
  clip: rect(0, 900px, 0, 0);
}

.glitch::after {
  animation: glitchBottom 2s infinite linear alternate-reverse;
  color: #00ffff;
  clip: rect(0, 900px, 0, 0);
}

@keyframes glitchTop {
  0% {
    clip: rect(0, 9999px, 0, 0);
  }
  50% {
    clip: rect(0, 9999px, 9999px, 0);
    transform: translate(-5px, -3px);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
  }
}

@keyframes glitchBottom {
  0% {
    clip: rect(0, 9999px, 0, 0);
  }
  50% {
    clip: rect(0, 9999px, 9999px, 0);
    transform: translate(3px, 3px);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
  }
}
