.layout {
  background-image: url("/RickandMortyBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  width: 100%;
  height: 100%;
}

.layout-t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 60px rgba(34, 197, 94, 0.4);

  overflow-y: auto;
}
